.MuiTypography-root.projectDesc.MuiTypography-body1 {
    padding-top: 20px;
    padding-bottom: 8px;
}

.MuiDivider-root {
    margin-top: 25px !important;
    margin-Bottom: 25px !important;
}

.ggScreenshot {
    width: 20% !important;
    height: auto !important;
    border-radius: 18px !important;
}

.screencast {
    display: flex !important;
    justify-content: center;
}

.screencast.iframe {
    display: flex;
}

.MuiGridListTileBar-root.VLA {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
}

.MuiContainer-root.cardScroller {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1em; 
    padding-bottom: 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}