.MuiTabs-flexContainer {
  vertical-align: bottom;
  align-items: center;
  font-weight: 600 !important;
}

.MuiSwitch-root {
  display: flex;
  float: left;
}

.MuiTab-wrapper {
  font-weight: 600;
}

.MuiTab-root {
  text-transform: none !important;
}

.MuiTabs-root {
  margin-left: auto;
}

.App {
  min-height: 100vh;
}